.form {
  margin: 2rem auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: white;
  border-radius: 6px;
  width: 100%;
  max-width: 70rem;
}

.list ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.list li {
  padding: 8px;
  cursor: pointer;
}

.priceRange {
  display: flex;
  justify-content: center;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

.marginLeft {
  margin-left: 15px;
}
